/* typography  */



*{
    font-family: 'Zilla Slab', serif;
  
    
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

/* NAVBAR  */

.navbar{
    transition: 1.5s;
}

.nav-link{
    transition: .5s;
}
.nav-link:hover{
    color:rgb(3, 3, 3)!important;
    font-weight: 600;
    
}

#navbar-brand{
    transition: 0.8s;
}

/* COVER  */

.cover-img{
    
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('https://cdn.pixabay.com/photo/2019/01/22/14/47/business-3948253_960_720.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover-subtitle{
    text-decoration: line-through;
}

.bg-custom{
    background: linear-gradient( rgba(201, 141, 141, 0.5), rgba(255,255,255,0.5));
}

.txt{
    border-right: 0.15rem solid white;
}

/* CARDS  */
.c1{
    background-image: url('https://cdn.pixabay.com/photo/2014/10/22/16/39/tools-498202_960_720.jpg');
}
.c1:hover{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2014/10/22/16/39/tools-498202_960_720.jpg');
    
}

.c2{
    background-image: url('https://cdn.pixabay.com/photo/2018/05/08/11/21/tree-3382808_960_720.jpg');
}
.c2:hover{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2018/05/08/11/21/tree-3382808_960_720.jpg');
}

.c3{
    background-image: url('https://cdn.pixabay.com/photo/2016/11/22/21/57/apparel-1850804_960_720.jpg');

}

.c3:hover{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2016/11/22/21/57/apparel-1850804_960_720.jpg');
}

.c4{
    background-image: url('https://cdn.pixabay.com/photo/2015/12/15/06/51/baby-1093759_960_720.jpg');
}

.c4:hover{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2015/12/15/06/51/baby-1093759_960_720.jpg');
}


.c5{
    background-image: url('https://cdn.pixabay.com/photo/2013/07/26/15/56/demolition-167738_960_720.jpg');
}

.c5:hover{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2013/07/26/15/56/demolition-167738_960_720.jpg');
}

.c6{
    background-image: url('https://cdn.pixabay.com/photo/2018/01/06/23/25/snow-3066167_960_720.jpg');
}

.c6:hover{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2018/01/06/23/25/snow-3066167_960_720.jpg');
}


.card-custom{
    height: 70vh;
   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.8s;
    
}

.card-custom:hover{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 72vh;
     
}

/* BEST DEALS  */

#deals-card{
    
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.9s;
}

#deals-card:hover{
    
    background-position:center;
    background-repeat: no-repeat;
}

.dc1{
    background-image: url('https://cdn.pixabay.com/photo/2015/03/24/08/52/beetroot-687251_960_720.jpg');

}

.dc1:hover{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2015/03/24/08/52/beetroot-687251_960_720.jpg');
   

}


.dc2{
    background-image: url('https://cdn.pixabay.com/photo/2021/03/06/17/10/mjollnir-6074197_960_720.jpg');

}

.dc2:hover{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2021/03/06/17/10/mjollnir-6074197_960_720.jpg');
  

}



.dc3{
    background-image: url('https://cdn.pixabay.com/photo/2018/04/20/21/10/code-3337044_960_720.jpg');

}

.dc3:hover{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2018/04/20/21/10/code-3337044_960_720.jpg');
  
}


.dc4{
    background-image: url('https://cdn.pixabay.com/photo/2014/08/10/18/06/beers-414914_960_720.jpg');
}

.dc4:hover{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2014/08/10/18/06/beers-414914_960_720.jpg'); 
}

/* REGALO PERFETTO CSS  */

.rp1{
    background-image: url('https://cdn.pixabay.com/photo/2012/08/11/13/19/pony-54014_960_720.jpg');
    
}

.rp1:hover{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2012/08/11/13/19/pony-54014_960_720.jpg'); 
}


.rp2{
    background-image: url('https://cdn.pixabay.com/photo/2017/09/26/19/40/car-accident-2789841__340.jpg');
    
}

.rp2:hover{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2017/09/26/19/40/car-accident-2789841__340.jpg'); 
}




.rp3{
    background-image: url('https://cdn.pixabay.com/photo/2015/06/24/13/32/dog-820014__340.jpg');
    
}

.rp3:hover{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2015/06/24/13/32/dog-820014__340.jpg'); 
    
}

/* IL TEAM DI PREZTO  */

.box-img{
    width: 300px;
    height: 300px;
    border-radius: 5%;
    /* border: 2px solid coral; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}



.img-who{
    height: 110px;
    width: 110px;
    position: absolute;
    border-radius: 15%;
    transition: 3s;
}

/* .immagine-box{
    background-image: url('https://cdn.pixabay.com/photo/2015/03/13/12/03/lego-671593_960_720.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    
} */

/* // https://cdn.pixabay.com/photo/2015/03/13/12/03/lego-671593_960_720.jpg  /unicorno */

/* https://cdn.pixabay.com/photo/2020/04/21/11/55/superman-5072824_960_720.jpg    superman */

/* https://cdn.pixabay.com/photo/2015/03/15/16/31/lego-674616_960_720.jpg   infermiere  */

/* https://cdn.pixabay.com/photo/2019/12/15/23/29/hulk-4698161_960_720.jpg  hulk  */

/* https://cdn.pixabay.com/photo/2021/01/03/13/51/lego-5884579_960_720.jpg  thor  */



