/* typography  */



*{
    font-family: 'Zilla Slab', serif;
  
    
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

/* NAVBAR  */

.navbar{
    transition: 1.5s;
}

.nav-link{
    transition: .5s;
}
.nav-link:hover{
    color:rgb(230, 213, 184)!important;
}

#navbar-brand{
    transition: 0.8s;
}

/* COVER  */

.cover-img{
    
    height: 100vh;
    background-image: url('https://pixabay.com/get/g85ff2db1b35a7ee7533315b3829d3ba6823bc513b7bd0a426dc23bd5c3922a3e3a171bc78e21928def3e2fc4aef0c1c84f172e2d4f06cae443ca15a329b66160b05dc57c95a901f40c545e9d1d123860_1920.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover-subtitle{
    text-decoration: line-through;
}

.bg-custom{
    background: linear-gradient( rgba(201, 141, 141, 0.5), rgba(255,255,255,0.5));
}

.txt{
    border-right: 0.15rem solid white;
}

/* CARDS  */
.c1{
    background-image: url('https://cdn.pixabay.com/photo/2014/10/22/16/39/tools-498202_960_720.jpg');
}
.c1:hover{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2014/10/22/16/39/tools-498202_960_720.jpg');
}

.c2{
    background-image: url('https://cdn.pixabay.com/photo/2018/05/08/11/21/tree-3382808_960_720.jpg');
}
.c2:hover{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2018/05/08/11/21/tree-3382808_960_720.jpg');
}

.c3{
    background-image: url('https://cdn.pixabay.com/photo/2016/11/22/21/57/apparel-1850804_960_720.jpg');

}

.c3:hover{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2016/11/22/21/57/apparel-1850804_960_720.jpg');
}

.c4{
    background-image: url('https://cdn.pixabay.com/photo/2015/12/15/06/51/baby-1093759_960_720.jpg');
}

.c4:hover{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2015/12/15/06/51/baby-1093759_960_720.jpg');
}




.card-custom{
    height: 70vh;
   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.8s;
    
}

.card-custom:hover{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 72vh;
     
}




